.login-wrapper img {
  width: 120px;
  position: absolute;
  z-index: 999;
  top: 0;
  margin: 1rem;
}

.login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.login-cover {
  background-size: cover;
  width: 40%;
  height: 100vh;
}

.login-cover h3 {
  color: rgb(202, 202, 202);
}

.form-wrapper {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 250px;
}

.form-wrapper p {
  margin: 0.5rem 0;
}

.form-wrapper form input {
  padding: 1rem;
  width: 50%;
  background-color: rgb(212, 209, 209);
  border: none;
  min-width: 250px;
}

.input-field {
  margin: 1.5rem;
  position: relative;
}
.input-field i {
  margin-right: 10px;
  width: 10px;
}
#email-error {
  font-size: 0.6rem;
  color: red;
  position: relative;
}

.form-wrapper button {
  margin-top: 5px;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  border: none;
  background-color: rgb(50, 80, 62);
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
}

.form-wrapper button:hover {
  background-color: transparent;
  color: black;
  transition: 0.3s;
  border: 0.8px solid black;
}

hr {
  margin: 1rem;
  color: white;
}

#message {
  font-size: 0.8rem;
  margin-top: -8px;
}

#message a {
  text-decoration: none;
  font-weight: bold;
}

#error-message {
  font-size: 0.6rem;
  border: 1px solid rgb(224, 85, 30);
  width: 250px;
  padding: 0.5rem;
  background-color: #e6b7a5e3;
  color: rgb(180, 30, 30);
}

@media (max-width: 600px) {
  .login-cover {
    width: 100%;
  }
  .login-wrapper {
    display: flex;
    justify-content: center;
  }
  .form-wrapper {
    position: absolute;
    background-color: rgba(243, 243, 243, 0.884);
    width: 300px;
    justify-content: center;
    border-radius: 3px;
  }
  .form-wrapper h2 {
    font-size: 20px;
  }
  .form-wrapper .input-field {
    margin: 10px 0;
  }
  .form-wrapper form input {
    background-color: white;
    text-align: center;
  }
  .form-wrapper form i {
    position: relative;
    left: 40px;
  }
}
