* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* HEADER */

nav {
  height: 30x;
  background-color: black;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 9998;
}

nav .desktop-nav {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  list-style: none;
}

nav .desktop-nav li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper {
  display: none;
}

/* MAP */
/* 
.map {
  height: 100vh;
} */

/* .mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
} */
.box {
  text-align: center;
  position: relative;
  color: white;
}
.box h4 {
  margin: 1rem;
}

audio {
  width: 200px;
  padding: 0 2rem;
}

.mapboxgl-popup-content {
  background-color: black;
}

.mapboxgl-popup-close-button {
  padding: 10px;
  font-size: 1rem;
  color: red;
  font-size: 2rem;
}

.marker {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-marker {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.mapboxgl-popup-tip {
  display: none;
}

.popup-wrapper {
  width: 300px;
  height: 300px;
  background-color: aqua;
}

@keyframes glow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 50px #fff, 20px 0 80px, -20px 0 80px #0ff, 20px 0 300px,
      -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  }
}

.marker-clicked {
  border-radius: 0;
  width: 300px;
  height: 200px;
  position: absolute;
  transition: 0.5s;
  z-index: 9999;
}
.marker-clicked .child-marker {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1.2rem;
  width: 100px;
  height: 100px;
}
.info {
  width: 100%;
  height: 100vh;
  left: -100%;
  position: absolute;
  background-color: rgba(7, 7, 7, 0.918);
  top: 0;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-wrapper {
  display: flex;
  width: 800px;
  height: 400px;
  background-color: blueviolet;
  position: relative;
}

.info-show {
  left: 0;
}
.details {
  margin-left: 2rem;
}

.image-container {
  width: 400px;
  background-size: cover;
  background-position: center;
}

.info a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(13, 175, 187);
  font-weight: bold;
  padding: 1.1rem;
  display: block;
  margin: 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: linear-gradient(279deg, #1dadd4, #b371ff, #f8f8f8);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

.info audio {
  background-color: white;
  border-radius: 10px;
}

.info i {
  font-size: 2rem;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.3rem;
}
.details h4 {
  color: wheat;
  text-transform: uppercase;
  margin: 3rem;
}

.audio-container {
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.audio-container audio {
  padding-bottom: 2rem;
}

.audio-container p {
  margin: 0.5rem 2rem;
  font-size: 0.8rem;
}

.popup-extra {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Colors */
.color-7CFEF0 {
  background-color: #7cfef0;
}
.color-6BFFB8 {
  background-color: #6bffb8;
}
.color-2A6041 {
  background-color: #2a6041;
}
.color-2CEAA3 {
  background-color: #2ceaa3;
}
.color-783F8E {
  background-color: #783f8e;
}
.color-61E786 {
  background-color: #61e786;
}
.color-F6AE2D {
  background-color: #f6ae2d;
}

/* MEDIA */
@media (max-width: 600px) {
  .wrapper {
    display: block;
    background-color: rgb(10, 134, 114);
    position: fixed;
    height: 100vh;
    right: -300px;
    top: 0;
    padding: 2rem;
    width: 150px;
    transition: 0.8s;
    display: flex;
    justify-content: center;
  }
  .mobile-nav {
    list-style: none;
    height: 80vh;
    width: 150px;
    top: 150px;
    position: fixed;
    right: -300px;
    transition: 1.3s;
    padding: 2rem;
  }

  .mobile-nav li {
    margin: 1.5rem;
  }

  .mobile-nav li a {
    font-weight: bolder;
    font-size: 1.1rem;
  }

  .burger-menu {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0;
    z-index: 1000;
    margin: 20px 5px;
    top: 0;
    z-index: 9999;
  }

  .burger-menu .line {
    margin: 3px;
    width: 25px;
    height: 3px;
    background-color: rgb(221, 221, 221);
    transition: 0.5s;
  }

  nav .desktop-nav {
    display: none;
  }

  .open {
    right: 0;
  }

  .hide {
    display: none;
  }

  .rotate-45 {
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  .rotate45 {
    transform: rotate(45deg);
    transition: 0.5s;
    position: relative;
    top: -5px;
  }

  .info-wrapper {
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 400px;
    padding: 2rem;
    border-radius: 3px;
  }
  .image-container {
    width: 250px;
    height: 250px;
  }

  .info-wrapper h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    width: 250px;
    padding: 0.5rem 0;
    color: rgb(37, 37, 37);
  }

  .details {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details a {
    margin-top: 2rem;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 61%;
  }
  100% {
    background-position: 0% 40%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 61%;
  }
  100% {
    background-position: 0% 40%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 61%;
  }
  100% {
    background-position: 0% 40%;
  }
}

/*ARTIST PAGE */

.artistPage {
  width: 100%;
  display: flex;
}

.artist-page-cover,
.artist-page-details {
  width: 50%;
  height: 100vh;
  background-color: aqua;
}
.artist-page-cover {
  background-size: cover;
  background-position: center;
}
